//reset box-sizing to make grids layout properly
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@mixin padding() {
  &.padding-l {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &.padding-m {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.padding-s {
    padding-left: .5rem;
    padding-right: .5rem;
  }


}

.container {
  width: 100%;
  @include padding();
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include padding();
}

.column {
  flex-basis: 100%;
  @include padding();
}

//on ipads and below always take entire row
@media screen and (min-width: 768px) {
  .column {
    flex: 1;
    @for $i from 1 through 100 {
      &._#{$i} {
        flex: #{$i/10};
      }
    }

  }
}
