$large: 3rem;
$medium: 2rem;
$small: 1rem;

//reset box-sizing to make grids layout properly
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@mixin padding() {
  &.padding-l {
    padding-left: $large;
    padding-right: $large;
  }
  &.padding-m {
    padding-left: $medium;
    padding-right: $medium;
  }

  &.padding-s {
    padding-left: $small;
    padding-right: $small;
  }


}

.container {
  width: 100%;
  @include padding();
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include padding();
}

.column {
  flex-basis: 100%;
  @include padding();
}

//on ipads and below always take entire row
@media screen and (min-width: 768px) {
  .column {
    flex: 1;
    @for $i from 1 through 100 {
      &._#{$i} {
        flex: #{$i/10};
      }
    }

  }
}
